* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.fix-size {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  padding: 30px 40px 0 40px;
  scroll-behavior: smooth;
}

.active, .header-navigation-ul-li-link:active {
  border-bottom: #F1CDB3 3px solid;
  cursor: default;
}

.font-georgia, .footer-container-address-link-url, .footer-container-address-title, .footer-container-info-tel-number, .footer-container-info-email-link, .footer-container-info-title, .friends-container-center-card-text, .friends-container-content-title, .header-logo-text-link, .button, .friends-container-center-card-btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.font-arial, .friends-container, .header-logo-subtext-link, .header {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.button, .friends-container-center-card-btn {
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background-color: #F1CDB3;
  padding: 15px 45px;
  border-radius: 100px;
  letter-spacing: 0.05em;
  border: solid 2px #F1CDB3;
}

.button-round, .friends-container-bottom-double-arrow-right, .friends-container-bottom-single-arrow-right, .friends-container-bottom-number-page, .friends-container-bottom-single-arrow-left, .friends-container-bottom-double-arrow-left {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: transparent;
}
.button-round:disabled, .friends-container-bottom-double-arrow-right:disabled, .friends-container-bottom-single-arrow-right:disabled, .friends-container-bottom-number-page:disabled, .friends-container-bottom-single-arrow-left:disabled, .friends-container-bottom-double-arrow-left:disabled {
  border: 2px solid #CDCDCD;
}
.button-round:not(:disabled):hover, .friends-container-bottom-double-arrow-right:not(:disabled):hover, .friends-container-bottom-single-arrow-right:not(:disabled):hover, .friends-container-bottom-number-page:not(:disabled):hover, .friends-container-bottom-single-arrow-left:not(:disabled):hover, .friends-container-bottom-double-arrow-left:not(:disabled):hover {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
  cursor: pointer;
  transition: 1s;
}

.header {
  display: grid;
  grid-template-columns: 184px 1fr;
  padding-bottom: 30px;
}
.header .hamburger-lines {
  display: none;
}
.header-wrapper {
  background-color: rgb(255, 255, 255);
}
.header-logo {
  width: 184px;
  display: inline-grid;
}
.header-logo-text {
  margin: 0;
}
.header-logo-text-link {
  font-size: 32px;
  line-height: 35px;
  color: #545454;
  letter-spacing: 0.05em;
}
.header-logo-text-link:hover {
  color: #F1CDB3;
  cursor: pointer;
  transition: 1s;
}
.header-logo-subtext {
  margin: 10px 0 0 0;
}
.header-logo-subtext-link {
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
}
.header-logo-subtext-link:hover {
  color: #F1CDB3;
  cursor: pointer;
  transition: 1s;
}
.header-navigation {
  display: inline-grid;
  justify-content: end;
}
.header-navigation-ul {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 35px;
}
.header-navigation-ul-li {
  list-style-type: none;
  display: inline-grid;
  align-content: center;
}
.header-navigation-ul-li-link {
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}
.header-navigation-ul-li-link:not(.active):not(.header-navigation-ul-li-link:active):hover {
  color: #F1CDB3;
  cursor: pointer;
  transition: 1s;
}

.friends-wrapper {
  background-color: #F6F6F6;
}
.friends-container {
  padding-bottom: 100px;
}
.friends-container-content {
  width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
.friends-container-content-title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  text-align: center;
}
.friends-container-center {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 52px 1fr 52px;
  gap: 53px;
  align-items: center;
}
.friends-container-center-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.friends-container-center-card {
  background-color: #FAFAFA;
  border-radius: 9px;
  display: grid;
  justify-items: center;
  padding-bottom: 17px;
}
.friends-container-center-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
  background-color: rgba(13, 13, 13, 0.04);
  transition: 1s;
}
.friends-container-center-card-text {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}
.friends-container-center-card-btn {
  background-color: transparent;
  padding: 14px 45px;
}
.friends-container-center-card-btn:hover {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
  cursor: pointer;
  transition: 1s;
}
.friends-container-bottom {
  display: grid;
  grid-template-columns: repeat(5, 52px);
  gap: 20px;
  justify-content: center;
  margin-top: 73px;
}
.friends-container-bottom-double-arrow-left {
  border: 2px solid #CDCDCD;
}
.friends-container-bottom-single-arrow-left {
  border: 2px solid #CDCDCD;
}
.friends-container-bottom-number-page {
  border: solid 2px #F1CDB3;
  background-color: #F1CDB3;
}
.friends-container-bottom-single-arrow-right {
  border: solid 2px #F1CDB3;
}
.friends-container-bottom-double-arrow-right {
  border: solid 2px #F1CDB3;
}

.footer-wrapper {
  background-image: url("../../assets/images/start-screen-background.svg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-size: cover;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 130px;
  padding-top: 24px;
}
.footer-container-info-title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 44px;
}
.footer-container-info-email {
  margin-bottom: 42px;
}
.footer-container-info-email-link {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  display: inline-flex;
}
.footer-container-info-email-link:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
.footer-container-info-tel-number {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  display: inline-flex;
}
.footer-container-info-tel-number:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
.footer-container-info-image {
  margin-right: 15px;
}
.footer-container-address-title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.footer-container-address-link {
  margin-bottom: 32px;
}
.footer-container-address-link-url {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  display: inline-flex;
}
.footer-container-address-link-url:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
.footer-image {
  padding-top: 17px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .fix-size {
    min-width: 768px;
    margin: 0 auto;
    display: grid;
    padding: 30px 30px 0px 30px;
    scroll-behavior: smooth;
  }
  .header {
    padding-bottom: 27px;
  }
  .header .hamburger-lines {
    display: none;
  }
  .header-navigation {
    margin-left: 48px;
    margin-bottom: 3px;
  }
  .header-logo {
    margin-left: 12px;
  }
  .friends-container-content {
    margin: 0;
    width: 100%;
    padding-top: 52px;
    margin-left: 10px;
  }
  .friends-container-center {
    margin-top: 29px;
    display: inline-flex;
  }
  .friends-container-center-card:nth-last-child(-n+2) {
    display: none;
  }
  .friends-container-center-wrapper {
    margin-left: 16px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
  }
  .friends-container-bottom {
    margin-left: 16px;
    margin-top: 54px;
    margin-bottom: 75px;
  }
  .footer-container {
    grid-column-gap: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
  }
  .footer-container-info {
    width: 356px;
    padding-left: 42px;
    padding-right: 10px;
  }
  .footer-container-info-title {
    margin-top: 30px;
  }
  .footer-container-address {
    width: 320px;
    margin-left: 23px;
    margin-right: 0;
  }
  .footer-container-address-title {
    margin-top: 30px;
  }
  .footer-image {
    padding-left: 10px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-bottom: 27px;
  }
  .header .hamburger-lines {
    display: none;
  }
  .header-navigation {
    margin-left: 48px;
    margin-bottom: 3px;
  }
  .header-logo {
    margin-left: 12px;
  }
  .friends-container-content {
    margin: 0;
    width: 100%;
    padding-top: 52px;
    margin-left: 10px;
  }
  .friends-container-center {
    margin-top: 29px;
    display: inline-flex;
  }
  .friends-container-center-card:nth-last-child(-n+2) {
    display: none;
  }
  .friends-container-center-wrapper {
    margin-left: 16px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
  }
  .friends-container-bottom {
    margin-left: 16px;
    margin-top: 54px;
    margin-bottom: 75px;
  }
  .footer-container {
    grid-column-gap: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
  }
  .footer-container-info {
    width: 356px;
    padding-left: 42px;
    padding-right: 10px;
  }
  .footer-container-info-title {
    margin-top: 30px;
  }
  .footer-container-address {
    width: 320px;
    margin-left: 23px;
    margin-right: 0;
  }
  .footer-container-address-title {
    margin-top: 30px;
  }
  .footer-image {
    padding-left: 10px;
    padding-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */