* {
    border: 1px solid red;
    box-sizing: border-box;
}

$color-beige: #F1CDB3;

// common styles
.fix-size {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    padding: 30px 40px;
}

.active {
    border-bottom: $color-beige 3px solid;
    cursor: default;
    caret-color: red;
}

// header
.header {
    display: grid;
    grid-template-columns: 184px 1fr;
    font-family: 'Arial';
    font-style: normal;

    &-wrapper{
        background-color: rgb(63, 71, 69);
    }

    &-logo {
        width: 184px;
        display: inline-grid;

        &-text {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 35px;
            color: $color-beige;
            margin: 0;
        }

        &-subtext {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            margin: 10px 0 0 0;
        }
    }

    &-navigation {
        display: inline-grid;
        justify-content: end;


        &-ul {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            gap: 35px;

            &-li {
                list-style-type: none;
                display: inline-grid;
                align-content: center;

                &-link {
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 24px;
                    color: #CDCDCD;

                    &:active {
                        @extend .active;
                    }

                    &:not(.active):hover {
                        color: #FAFAFA;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}